MONGODB_URI="mongodb://localhost:27017/whisper"
RESEND_API_KEY="resend_api_key"
EMAIL_FROM="onboarding@resend.dev"
NEXTAUTH_SECRET="nextauth_secret"
NEXTAUTH_URL="http://localhost:3000"
GEMINI_API_KEY="gemini_api_key"